/*************************************
AIONE GRID
***************************************/
.aione-grid-start{
  color:aaaaaaaaaaaaaaaaaaaaaaaaaaaa;
}
$aione-columns:100;

.ar{

  display:block;
  padding:0;
  margin: 0;
  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .ac{
    float: left;
    display: block;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    margin-left: auto;
    left: auto;
    right: auto;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $aione-columns {
      $perc: unquote((100 / ($aione-columns / $i) ) + "%");
      &.s#{$i} {
        width: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $aione-columns {
        $perc: unquote((100 / ($aione-columns / $i)) + "%");
        &.m#{$i} {
          width: $perc;
        }
        $i: $i + 1
      }
    }

    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $aione-columns {
        $perc: unquote((100 / ($aione-columns / $i)) + "%");
        &.l#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
    }
  }
}

.ac{
  padding: 0 $gutter-width / 2;
}

$i: 0;
@while $i <= $aione-columns {
  .m-#{$i} {
    margin: $i + px;
  }
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .mr-#{$i} {
    margin-right: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  .ml-#{$i} {
    margin-left: $i + px;
  }
  .m-#{$i}p {
    margin: $i + %;
  }
  .mt-#{$i}p {
    margin-top: $i + %;
  }
  .mr-#{$i}p {
    margin-right: $i + %;
  }
  .mb-#{$i}p {
    margin-bottom: $i + %;
  }
  .ml-#{$i}p {
    margin-left: $i + %;
  }

  .p-#{$i} {
    padding: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pr-#{$i} {
    padding-right: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .p-#{$i}p {
    padding: $i + %;
  }
  .pt-#{$i}p {
    padding-top: $i + %;
  }
  .pr-#{$i}p {
    padding-right: $i + %;
  }
  .pb-#{$i}p {
    padding-bottom: $i + %;
  }
  .pl-#{$i}p {
    padding-left: $i + %;
  }
  $i: $i + 1;
}

@media #{$medium-and-up} {
  $i: 0;
  @while $i <= $aione-columns {
    .m-m-#{$i} {
      margin: $i + px;
    }
    .m-mt-#{$i} {
      margin-top: $i + px;
    }
    .m-mr-#{$i} {
      margin-right: $i + px;
    }
    .m-mb-#{$i} {
      margin-bottom: $i + px;
    }
    .m-ml-#{$i} {
      margin-left: $i + px;
    }
    .m-m-#{$i}p {
      margin: $i + %;
    }
    .m-mt-#{$i}p {
      margin-top: $i + %;
    }
    .m-mr-#{$i}p {
      margin-right: $i + %;
    }
    .m-mb-#{$i}p {
      margin-bottom: $i + %;
    }
    .m-ml-#{$i}p {
      margin-left: $i + %;
    }

    .m-p-#{$i} {
      padding: $i + px;
    }
    .m-pt-#{$i} {
      padding-top: $i + px;
    }
    .m-pr-#{$i} {
      padding-right: $i + px;
    }
    .m-pb-#{$i} {
      padding-bottom: $i + px;
    }
    .m-pl-#{$i} {
      padding-left: $i + px;
    }
    .m-p-#{$i}p {
      padding: $i + %;
    }
    .m-pt-#{$i}p {
      padding-top: $i + %;
    }
    .m-pr-#{$i}p {
      padding-right: $i + %;
    }
    .m-pb-#{$i}p {
      padding-bottom: $i + %;
    }
    .m-pl-#{$i}p {
      padding-left: $i + %;
    }
    $i: $i + 1;
  }
}

@media #{$large-and-up} {
  $i: 0;
  @while $i <= $aione-columns {
    .l-m-#{$i} {
      margin: $i + px;
    }
    .l-mt-#{$i} {
      margin-top: $i + px;
    }
    .l-mr-#{$i} {
      margin-right: $i + px;
    }
    .l-mb-#{$i} {
      margin-bottom: $i + px;
    }
    .l-ml-#{$i} {
      margin-left: $i + px;
    }
    .l-m-#{$i}p {
      margin: $i + %;
    }
    .l-mt-#{$i}p {
      margin-top: $i + %;
    }
    .l-mr-#{$i}p {
      margin-right: $i + %;
    }
    .l-mb-#{$i}p {
      margin-bottom: $i + %;
    }
    .l-ml-#{$i}p {
      margin-left: $i + %;
    }

    .l-p-#{$i} {
      padding: $i + px;
    }
    .l-pt-#{$i} {
      padding-top: $i + px;
    }
    .l-pr-#{$i} {
      padding-right: $i + px;
    }
    .l-pb-#{$i} {
      padding-bottom: $i + px;
    }
    .l-pl-#{$i} {
      padding-left: $i + px;
    }
    .l-p-#{$i}p {
      padding: $i + %;
    }
    .l-pt-#{$i}p {
      padding-top: $i + %;
    }
    .l-pr-#{$i}p {
      padding-right: $i + %;
    }
    .l-pb-#{$i}p {
      padding-bottom: $i + %;
    }
    .l-pl-#{$i}p {
      padding-left: $i + %;
    }
    $i: $i + 1;
  }
}

$i: 0;
@while $i <= $aione-columns {
  .mh-#{$i} {
    margin-left: $i + px;
    margin-right: $i + px;
  }
  .mv-#{$i} {
    margin-top: $i + px;
    margin-bottom: $i + px;
  }
  .ph-#{$i} {
    padding-left: $i + px;
    padding-right: $i + px;
  }
  .pv-#{$i} {
    padding-top: $i + px;
    padding-bottom: $i + px;
  }
  $i: $i + 1;
}
@media #{$medium-and-up} {
  $i: 0;
  @while $i <= $aione-columns {
    .m-mh-#{$i} {
      margin-left: $i + px;
      margin-right: $i + px;
    }
    .m-mv-#{$i} {
      margin-top: $i + px;
      margin-bottom: $i + px;
    }
    .m-ph-#{$i} {
      padding-left: $i + px;
      padding-right: $i + px;
    }
    .m-pv-#{$i} {
      padding-top: $i + px;
      padding-bottom: $i + px;
    }
    $i: $i + 1;
  }
}
@media #{$large-and-up} {
  $i: 0;
  @while $i <= $aione-columns {
    .l-mh-#{$i} {
      margin-left: $i + px;
      margin-right: $i + px;
    }
    .l-mv-#{$i} {
      margin-top: $i + px;
      margin-bottom: $i + px;
    }
    .l-ph-#{$i} {
      padding-left: $i + px;
      padding-right: $i + px;
    }
    .l-pv-#{$i} {
      padding-top: $i + px;
      padding-bottom: $i + px;
    }
    $i: $i + 1;
  }
}
.aione-grid-end{
  color:bbbbbbbbbbbbbbbbbbbbbbbbbbb;
}

.last,
.last-column {
  padding-right: 0;
  margin-right: 0;
}

.last:after {
	content: "";
	display: table;
	clear: both;
}
