/***************************************
AIONE DATALIST
***************************************/

.aione-datalist-header{
		margin-bottom:20px;
}
.aione-datalist-content{
		margin-bottom:20px;
		min-height:400px;
		border: 1px solid #e8e8e8;
}
.aione-datalist-footer{
		margin-bottom:20px;
}
.aione-datalist-items{
	padding:0;
	margin:0;
	
}
.aione-datalist-header-item,
.aione-datalist-item{
	padding:10px;
	margin:0;
}
.aione-datalist-header-item .column,
.aione-datalist-item .column{
	float:left;
	min-height: 20px;
	margin-right:0;
}
.aione-datalist-header-item{
	border-bottom: 1px solid #e8e8e8
}
.aione-datalist-item{
	
	
}
.aione-datalist-item:nth-child(even) {background-color: #f2f2f2; }
.aione-datalist-item:nth-child(odd) {background-color: #FFFFFF; }


.aione-datalist-item .aione-column.columns-1{ width:100%; }
.aione-datalist-item .aione-column.columns-2{ width:50%; }
.aione-datalist-item .aione-column.columns-3{ width:33.33%; }
.aione-datalist-item .aione-column.columns-4{ width:25%; }
.aione-datalist-item .aione-column.columns-5{ width:20%; }
.aione-datalist-item .aione-column.columns-6{ width:16.66%; }
.aione-datalist-item .aione-column.columns-7{ width:14.28%; }
.aione-datalist-item .aione-column.columns-8{ width:12.5%; }
.aione-datalist-item .aione-column.columns-9{ width:11.11%; }
.aione-datalist-item .aione-column.columns-10{ width:9.09%; }
.aione-datalist-item .aione-column.columns-11{ width:8.33%; }
.aione-datalist-item .aione-column.columns-13{ width:7.69%; }
.aione-datalist-item .aione-column.columns-14{ width:7.14%; }

.aione-datalist-item  .options{
	display:none;
	position: absolute;
	font-size: 14px;
	margin-top:-3px;
}
.aione-datalist-item:hover  .options{
	display:block;
}


.aione-datalist-item  .aione-status{
	display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border: 3px solid #ef5350;
    border-radius: 50%;
}
.aione-datalist-item  .aione-status.active{
	border-color: #9CCC65;
}
.aione-datalist-item  .aione-status.pending{
	border-color: orange;
}
/* To be REMOVED */
.aione-datalist-item  .row{
	margin-bottom:0;
}
/* To be REMOVED */

.aione-filters{
	
}
.aione-filters .aione-filter{
	
}
.aione-filters .aione-filter.aione-search-field{
	width: 74%;
	width: calc(100% - 293px);
}
.aione-filters .aione-filter.aione-search-field input{
	background-color: #FFFFFF;
    width: 100%;
    padding: 0;
	text-indent:15px;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    height: 41px;
}

.aione-filters .aione-filter.aione-page-items{
	width:270px;
	float:right;
	margin-right: 10px;
}
.aione-filters .aione-filter.aione-page-items select.browser-default{
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 6px;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    height: 43px;
}

.aione-filters .aione-filter.aione-select-view{
	width:113px;
	float:right;
}
.aione-switch-view{
	border:1px solid #e8e8e8;
}
.aione-switch-view ul{
	padding:0;
	margin:0;
	padding:5px;
}
.aione-switch-view > ul > li{
	display:inline-block;
	border:1px solid #e8e8e8;
	padding:0;
	margin-right:1px;
	width: 30px;
	height:30px;
	text-align: center;
}
.aione-switch-view > ul > li:last-child{
	margin-right:0;
}
.aione-switch-view > ul > li:hover{
	background-color: #454545;
	border:1px solid #454545;
}
.aione-switch-view > ul > li > a{
	display: block;
	color:#888888;
	font-size:24px;
	line-height: 28px;
}
.aione-switch-view > ul > li > a.active{
	color:#FFFFFF;
	background-color:#168dc5;
	border:1px solid #1570a6;
}
.aione-switch-view > ul > li:hover a{
	color: #FFFFFF;
}
.aione-switch-view > ul > li > a .material-icons{
	font-size: 24px;
    line-height: 28px;
}





.aione-sort{
	border:1px solid #e8e8e8;
	padding: 7px
}
.aione-sort select{
	height:30px;width: 75%;
}
.aione-sort i{
	line-height: 28px;
	float: right;
	width: 100%;
}