/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
.gallery {
}
.gallery:after {
    display: table;
    content: '';
    clear: both;
}
.gallery-item {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
    height: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%;
    height: 33.3333%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
    height: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
    height: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%;
    height: 16.6667%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
    height: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
    height: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
    height: 11.1111%;
}
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear:left;
}
.gallery.margin.gallery-columns-2 .gallery-item:nth-child(2n),
.gallery.margin.gallery-columns-3 .gallery-item:nth-child(3n),
.gallery.margin.gallery-columns-4 .gallery-item:nth-child(4n),
.gallery.margin.gallery-columns-5 .gallery-item:nth-child(5n),
.gallery.margin.gallery-columns-6 .gallery-item:nth-child(6n),
.gallery.margin.gallery-columns-7 .gallery-item:nth-child(7n),
.gallery.margin.gallery-columns-8 .gallery-item:nth-child(8n),
.gallery.margin.gallery-columns-9 .gallery-item:nth-child(9n),
.gallery.gallery-columns-2 .gallery-item:nth-child(2n),
.gallery.gallery-columns-3 .gallery-item:nth-child(3n),
.gallery.gallery-columns-4 .gallery-item:nth-child(4n),
.gallery.gallery-columns-5 .gallery-item:nth-child(5n),
.gallery.gallery-columns-6 .gallery-item:nth-child(6n),
.gallery.gallery-columns-7 .gallery-item:nth-child(7n),
.gallery.gallery-columns-8 .gallery-item:nth-child(8n),
.gallery.gallery-columns-9 .gallery-item:nth-child(9n) {
    margin: 0;
}
.gallery.margin.gallery-columns-1 .gallery-item {
    width: 100%;
    margin: 0;
    float: none;
}
.gallery.margin.gallery-columns-2 .gallery-item {
    width: 48%;
    height: 48%;
    margin: 0 4% 4% 0;
}
.gallery.margin.gallery-columns-3 .gallery-item {
    width: 31.32%;
    height: 31.32%;
    margin: 0 3% 3% 0;
}
.gallery.margin.gallery-columns-4 .gallery-item {
    width: 23.5%;
    height: 23.5%;
    margin: 0 2% 2% 0;
}
.gallery.margin.gallery-columns-5 .gallery-item {
    width: 19.2%;
    height: 19.2%;
    margin: 0 1% 1% 0;
}
.gallery.margin.gallery-columns-6 .gallery-item {
    width: 16.04%;
    height: 16.04%;
    margin: 0 0.75% 0.75% 0;
}
.gallery.margin.gallery-columns-7 .gallery-item {
    width: 13.64%;
    height: 13.64%;
    margin: 0 0.75% 0.75% 0;
}
.gallery.margin.gallery-columns-8 .gallery-item {
    width: 11.84%;
    height: 11.84%;
    margin: 0 0.75% 0.75% 0;
}
.gallery.margin.gallery-columns-9 .gallery-item {
    width: 10.44%;
    height: 10.44%;
    margin: 0 0.75% 0.75% 0;
}
.gallery-item .gallery-icon {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery-item .gallery-icon img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.gallery-item .gallery-icon.landscape img {
    height: 100%;
    width: auto;
    max-width: 10000%;
    display: block;
    min-width: 100%;
    min-height: 100%;
}
.gallery-item .gallery-icon.portrait img {
    height: auto;
    width: 100%;
    max-height: 10000%;
    display: block;
    min-width: 100%;
    min-height: 100%;
}
.gallery-item .gallery-icon.square img {
    height: 100%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
}
.gallery-item .gallery-caption {
    opacity: 0;
	visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery-caption span {
    display: block;
    text-align: center;
    font-family: inherit;
    font-style: normal;
}
.gallery-caption .aione-title {
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.1);
    font-size: 15px;
    line-height: 18px;
    padding: 6px 33px;
    text-transform: uppercase;
    word-break: break-all !important;
}
.gallery-caption .description {
    font-size: 16px;
    line-height: 18px;
    padding: 8px 7px;
}
.gallery-item:hover .gallery-caption {
    opacity: 1;
    visibility: visible;
}
/********************************************
Outline
*********************************************/

.gallery.outline .gallery-item .gallery-icon:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
/********************************************
Style
*********************************************/

.gallery.circle .gallery-item .gallery-icon,
.gallery.circle .gallery-item .gallery-icon img,
.gallery.circle .gallery-item .gallery-caption,
.gallery.circle.outline .gallery-item .gallery-icon:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
/********************************************
Animations
*********************************************/
/*****  Animation-zoom  **********************/

.gallery.animation-zoom .gallery-item {
    position: relative;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery.animation-zoom .gallery-item:hover {
    z-index: 1;
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
/*****  Animation-rotate **********************/

.gallery.animation-rotate .gallery-item {
    position: relative;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery.animation-rotate .gallery-item:hover {
    z-index: 1;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}
/*****  Animation Zoom and Rotate **********************/

.gallery.animation-zoomrotate .gallery-item {
    position: relative;
    -moz-transform: rotate(0deg) scale(1, 1);
    -webkit-transform: rotate(0deg) scale(1, 1);
    -o-transform: rotate(0deg) scale(1, 1);
    -ms-transform: rotate(0deg) scale(1, 1);
    transform: rotate(0deg) scale(1, 1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery.animation-zoomrotate .gallery-item:hover {
    z-index: 1;
    -moz-transform: rotate(6deg) scale(1.1, 1.1);
    -webkit-transform: rotate(6deg) scale(1.1, 1.1);
    -o-transform: rotate(6deg) scale(1.1, 1.1);
    -ms-transform: rotate(6deg) scale(1.1, 1.1);
    transform: rotate(6deg) scale(1.1, 1.1);
}
/*****  Animation MAX Rotate **********************/

.gallery.animation-mxrotate .gallery-item {
    /* opacity: 1;
visibility: visible; */
    
    position: relative;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.gallery.animation-mxrotate .gallery-item:hover {
    /* opacity: 0;
visibility: hidden; */
    
    -webkit-transform: scale(0.9) rotate(720deg);
    -moz-transform: scale(0.9) rotate(720deg);
    -ms-transform: scale(0.9) rotate(720deg);
    -o-transform: scale(0.9) rotate(720deg);
    transform: scale(0.9) rotate(720deg);
}
/********************************************
Transition
*********************************************/
/*****  Transition Fade **********************/

.gallery.transition-fade-top .gallery-item .gallery-caption,
.gallery.transition-fade-right .gallery-item .gallery-caption,
.gallery.transition-fade-bottom .gallery-item .gallery-caption,
.gallery.transition-fade-left .gallery-item .gallery-caption {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.gallery.transition-fade-top .gallery-item:hover .gallery-caption,
.gallery.transition-fade-right .gallery-item:hover .gallery-caption,
.gallery.transition-fade-bottom .gallery-item:hover .gallery-caption,
.gallery.transition-fade-left .gallery-item:hover .gallery-caption {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
/*****  Transition mxrotate **********************/

.gallery.transition-mxrotate-top .gallery-item .gallery-caption,
.gallery.transition-mxrotate-right .gallery-item .gallery-caption,
.gallery.transition-mxrotate-bottom .gallery-item .gallery-caption,
.gallery.transition-mxrotate-left .gallery-item .gallery-caption {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.5) rotate(720deg);
    -moz-transform: scale(0.5) rotate(720deg);
    -ms-transform: scale(0.5) rotate(720deg);
    -o-transform: scale(0.5) rotate(720deg);
    transform: scale(0.5) rotate(720deg);
    -webkit-transition: all 0.35s ease-in-out 0.3s;
    -moz-transition: all 0.35s ease-in-out 0.3s;
    transition: all 0.35s ease-in-out 0.3s;
}
.gallery.transition-mxrotate-top .gallery-item:hover .gallery-caption,
.gallery.transition-mxrotate-right .gallery-item:hover .gallery-caption,
.gallery.transition-mxrotate-bottom .gallery-item:hover .gallery-caption,
.gallery.transition-mxrotate-left .gallery-item:hover .gallery-caption {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}
/*****  Transition Slide **********************/

.gallery.transition-slide-top .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-slide-top .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-slide-right .gallery-item .gallery-caption {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-slide-right .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-slide-bottom .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-slide-bottom .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-slide-left .gallery-item .gallery-caption {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-slide-left .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
/*****  Transition Push **********************/

.gallery.transition-push-top .gallery-item .gallery-icon {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-top .gallery-item:hover .gallery-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.gallery.transition-push-top .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-push-top .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-right .gallery-item .gallery-icon {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-right .gallery-item:hover .gallery-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.gallery.transition-push-right .gallery-item .gallery-caption {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-push-right .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-bottom .gallery-item .gallery-icon {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-bottom .gallery-item:hover .gallery-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.gallery.transition-push-bottom .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-push-bottom .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-left .gallery-item .gallery-icon {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-push-left .gallery-item:hover .gallery-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.gallery.transition-push-left .gallery-item .gallery-caption {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-push-left .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
/*****  Transition Rotate Slide **********************/

.gallery.transition-rotateslide-top .gallery-item .gallery-icon,
.gallery.transition-rotateslide-right .gallery-item .gallery-icon,
.gallery.transition-rotateslide-bottom .gallery-item .gallery-icon,
.gallery.transition-rotateslide-left .gallery-item .gallery-icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-rotateslide-top .gallery-item:hover .gallery-icon,
.gallery.transition-rotateslide-right .gallery-item:hover .gallery-icon,
.gallery.transition-rotateslide-bottom .gallery-item:hover .gallery-icon,
.gallery.transition-rotateslide-left .gallery-item:hover .gallery-icon {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-rotateslide-top .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-rotateslide-top .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-rotateslide-right .gallery-item .gallery-caption {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-rotateslide-right .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-rotateslide-bottom .gallery-item .gallery-caption {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-rotateslide-bottom .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
.gallery.transition-rotateslide-left .gallery-item .gallery-caption {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: hidden;
}
.gallery.transition-rotateslide-left .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
/*****  Transition Flip **********************/

.gallery.transition-flip-top .gallery-item,
.gallery.transition-flip-right .gallery-item,
.gallery.transition-flip-bottom .gallery-item,
.gallery.transition-flip-left .gallery-item {
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -ms-perspective: 800;
    -o-perspective: 800;
    perspective: 800;
}
.gallery.transition-flip-top .gallery-item .gallery-icon,
.gallery.transition-flip-right .gallery-item .gallery-icon,
.gallery.transition-flip-bottom .gallery-item .gallery-icon,
.gallery.transition-flip-left .gallery-item .gallery-icon,
.gallery.transition-flip-top .gallery-item .gallery-caption,
.gallery.transition-flip-right .gallery-item .gallery-caption,
.gallery.transition-flip-bottom .gallery-item .gallery-caption,
.gallery.transition-flip-left .gallery-item .gallery-caption {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.gallery.transition-flip-top .gallery-item .gallery-icon {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
}
.gallery.transition-flip-top .gallery-item:hover .gallery-icon {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -ms-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);
}
.gallery.transition-flip-top .gallery-item .gallery-caption {
    -webkit-transform: rotate3d(1, 0, 0, -180deg);
    -moz-transform: rotate3d(1, 0, 0, -180deg);
    -ms-transform: rotate3d(1, 0, 0, -180deg);
    -o-transform: rotate3d(1, 0, 0, -180deg);
    transform: rotate3d(1, 0, 0, -180deg);
}
.gallery.transition-flip-top .gallery-item:hover .gallery-caption {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
}
.gallery.transition-flip-right .gallery-item .gallery-icon {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}
.gallery.transition-flip-right .gallery-item:hover .gallery-icon {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}
.gallery.transition-flip-right .gallery-item .gallery-caption {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
}
.gallery.transition-flip-right .gallery-item:hover .gallery-caption {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}
.gallery.transition-flip-bottom .gallery-item .gallery-icon {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
}
.gallery.transition-flip-bottom .gallery-item:hover .gallery-icon {
    -webkit-transform: rotate3d(1, 0, 0, -180deg);
    -moz-transform: rotate3d(1, 0, 0, -180deg);
    -ms-transform: rotate3d(1, 0, 0, -180deg);
    -o-transform: rotate3d(1, 0, 0, -180deg);
    transform: rotate3d(1, 0, 0, -180deg);
}
.gallery.transition-flip-bottom .gallery-item .gallery-caption {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -ms-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);
}
.gallery.transition-flip-bottom .gallery-item:hover .gallery-caption {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}
.gallery.transition-flip-left .gallery-item .gallery-icon {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}
.gallery.transition-flip-left .gallery-item:hover .gallery-icon {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
}
.gallery.transition-flip-left .gallery-item .gallery-caption {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}
.gallery.transition-flip-left .gallery-item:hover .gallery-caption {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}
/*****  Transition minimize **********************/

.gallery.transition-minimize-top .gallery-item .gallery-icon {
    z-index: 10;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0, 0, 0) scale(1, 1);
    -o-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
}
.gallery.transition-minimize-top .gallery-item:hover .gallery-icon {
    z-index: 11;
    -webkit-transform: translate3d(0, -50%, 0) scale(0.4, 0.4);
    -moz-transform: translate3d(0, -50%, 0) scale(0.4, 0.4);
    -ms-transform: translate3d(0, -50%, 0) scale(0.4, 0.4);
    -o-transform: translate3d(0, -50%, 0) scale(0.4, 0.4);
    transform: translate3d(0, -50%, 0) scale(0.4, 0.4);
}
.gallery.transition-minimize-top .gallery-item .gallery-caption {
    z-index: 9;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-top .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-right .gallery-item .gallery-icon {
    z-index: 10;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0, 0, 0) scale(1, 1);
    -o-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
}
.gallery.transition-minimize-right .gallery-item:hover .gallery-icon {
    z-index: 11;
    -webkit-transform: translate3d(50%, 0, 0) scale(0.4, 0.4);
    -moz-transform: translate3d(50%, 0, 0) scale(0.4, 0.4);
    -ms-transform: translate3d(50%, 0, 0) scale(0.4, 0.4);
    -o-transform: translate3d(50%, 0, 0) scale(0.4, 0.4);
    transform: translate3d(50%, 0, 0) scale(0.4, 0.4);
}
.gallery.transition-minimize-right .gallery-item .gallery-caption {
    z-index: 9;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-right .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-bottom .gallery-item .gallery-icon {
    z-index: 10;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0, 0, 0) scale(1, 1);
    -o-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
}
.gallery.transition-minimize-bottom .gallery-item:hover .gallery-icon {
    z-index: 11;
    -webkit-transform: translate3d(0, 50%, 0) scale(0.4, 0.4);
    -moz-transform: translate3d(0, 50%, 0) scale(0.4, 0.4);
    -ms-transform: translate3d(0, 50%, 0) scale(0.4, 0.4);
    -o-transform: translate3d(0, 50%, 0) scale(0.4, 0.4);
    transform: translate3d(0, 50%, 0) scale(0.4, 0.4);
}
.gallery.transition-minimize-bottom .gallery-item .gallery-caption {
    z-index: 9;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-bottom .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-left .gallery-item .gallery-icon {
    z-index: 10;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    -moz-transform: translate3d(0, 0, 0) scale(1, 1);
    -ms-transform: translate3d(0, 0, 0) scale(1, 1);
    -o-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
}
.gallery.transition-minimize-left .gallery-item:hover .gallery-icon {
    z-index: 11;
    -webkit-transform: translate3d(-50%, 0, 0) scale(0.4, 0.4);
    -moz-transform: translate3d(-50%, 0, 0) scale(0.4, 0.4);
    -ms-transform: translate3d(-50%, 0, 0) scale(0.4, 0.4);
    -o-transform: translate3d(-50%, 0, 0) scale(0.4, 0.4);
    transform: translate3d(-50%, 0, 0) scale(0.4, 0.4);
}
.gallery.transition-minimize-left .gallery-item .gallery-caption {
    z-index: 9;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.gallery.transition-minimize-left .gallery-item:hover .gallery-caption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}