/***************************************
Aione Nav Tabs
***************************************/
.aione-nav-tabs{
	padding:0;
	margin:0 0 20px 0;
	background-color:#FFFFFF;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.aione-nav-tabs .aione-tabs > .aione-tab{
	border-bottom: 1px solid #E8E8E8;
}
.aione-nav-tabs .aione-tabs > .aione-tab:first-child {
    border-top: none;
}
.aione-nav-tabs .aione-tabs > .aione-tab.nav-item-current{
	border: 1px solid #E8E8E8;
	border-bottom: none;
	background-color:#FFFFFF;
}
.aione-nav-tabs .aione-tabs > .aione-tab.nav-item-current:hover{
	background-color: #F2F2F2;
}
.aione-nav-tabs .aione-tabs > .aione-tab > a{
	color:#666666;
	padding:0 10px;
}
.aione-nav-tabs .aione-tabs > .aione-tab > a:hover{
	color:#666666;
}
.aione-nav-tabs .aione-tabs > .aione-tab.nav-item-current > a {
    color: #454545;
    font-weight: 600;
}




/***************************************
Aione Account Tabs
***************************************/
.aione-account-tabs{
	padding:0;
	margin:0 0 20px 0;
	background-color:#FFFFFF;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.aione-account-tabs .aione-tabs > .aione-tab{
	border-bottom: 1px solid #E8E8E8;
}
.aione-account-tabs .aione-tabs > .aione-tab:first-child {
    border-top: none;
}
.aione-account-tabs .aione-tabs > .aione-tab.nav-item-current{
	border: 1px solid #E8E8E8;
	border-bottom: none;
	background-color:#FFFFFF;
}
.aione-account-tabs .aione-tabs > .aione-tab.nav-item-current:hover{
	background-color: #F2F2F2;
}
.aione-account-tabs .aione-tabs > .aione-tab > a{
	color:#666666;
	padding:0 10px;
}
.aione-account-tabs .aione-tabs > .aione-tab > a:hover{
	color:#666666;
}
.aione-account-tabs .aione-tabs > .aione-tab.nav-item-current > a {
    color: #454545;
    font-weight: 600;
}




/***************************************
Aione Tabs
***************************************/

.aione-tabs {
}
.aione-tabs:after{
  content: "";
  display: table;
  clear: both;
}
/** nav **/
.aione-tabs .nav{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.aione-tabs .nav:after{
  content: "";
  display: table;
  clear: both;
}
.aione-tabs .nav > *{
  margin:0;
  padding:6px 15px;
  color: #484848;
  font-size: 17.6px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: none;
  position: relative;
  -webkit-transition:all 250ms ease-in-out;
     -moz-transition:all 250ms ease-in-out;
          transition:all 250ms ease-in-out;
}
.aione-tabs .nav > *:hover{
  color: #444444;
}
.aione-tabs .nav > .active{
}

.aione-tabs .nav > .active:hover{
}
/** content **/
.aione-tabs .content > *{
  display:none;
}
.aione-tabs .content > .active{
  display:block;
}

/*************************************
AIONE TABS HORIZONTAL
***************************************/
.aione-tabs.horizontal > .nav > *{
  display: inline-block;
  text-align: center;
}
.aione-tabs.horizontal.margin > .nav > *{
  margin-right: 15px;
}

.aione-tabs.horizontal.margin > .nav > *:last-child {
  margin-right: 0;
}
.aione-tabs.horizontal.align-left > .nav{
  text-align: left;
}

.aione-tabs.horizontal.align-right > .nav{
  text-align: right;
}
.aione-tabs.horizontal.align-center > .nav{
  text-align: center;
}


/*************************************
AIONE TABS VERTICAL
***************************************/
.aione-tabs.vertical > .nav{
  width:30%;
  float: left;
}
.aione-tabs.vertical > .content{
  width:68%;
  float: right;
}
.aione-tabs.vertical.layout-right > .nav{
  float: right;
}
.aione-tabs.vertical.layout-right > .content{
  float: left;
}
.aione-tabs.vertical > .nav > *{
    display: block;
    text-align: left;
    padding-left: 15px;
}
.aione-tabs.vertical.margin > .nav > *{
  margin-bottom: 15px;
}

.aione-tabs.vertical.margin > .nav > *:last-child {
  margin-bottom: 0;
}
.aione-tabs.vertical.align-left > .nav > *{
  text-align: left;
}

.aione-tabs.vertical.align-right > .nav > *{
  text-align: right;
}
.aione-tabs.vertical.align-center > .nav > *{
  text-align: center;
}




/*************************************
AIONE TABS Theme Clean
***************************************/
.aione-tabs.horizontal.theme-clean > .nav {
  margin-bottom: 20px; 
  border-bottom: 1px solid #e8e8e8;
}
.aione-tabs.horizontal.theme-clean > .nav > *{
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 0px;
}
.aione-tabs.horizontal.theme-clean > .nav > *:hover{

 }

.aione-tabs.horizontal.theme-clean > .nav > .active{
  border: 1px solid #E8E8E8;
  border-bottom: none;
}
.aione-tabs.horizontal.theme-clean > .nav > .active:hover{

}
.aione-tabs.horizontal.theme-clean > .nav > *:after{
  content: '';
  position: absolute;
  bottom: -1px;
  height: 1px;
  left: 0;
  right: 0;
  -webkit-transition:all 250ms ease-in-out;
     -moz-transition:all 250ms ease-in-out;
          transition:all 250ms ease-in-out;
}
.aione-tabs.horizontal.theme-clean > .nav > .active:after{
  background-color: #ffffff;
}

.aione-tabs.vertical.theme-clean > .nav{
  border:1px solid #e8e8e8;
}
.aione-tabs.vertical.theme-clean > .nav > *{
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0px;
}

.aione-tabs.vertical.theme-clean > .nav > *:hover{

 }
.aione-tabs.vertical.theme-clean > .nav > *:last-child {
   border-bottom: none;
}
.aione-tabs.vertical.theme-clean > .nav > *:after{
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  right: -1px;
  -webkit-transition:all 250ms ease-in-out;
     -moz-transition:all 250ms ease-in-out;
          transition:all 250ms ease-in-out;
}
.aione-tabs.vertical.theme-clean > .nav > .active:after{
  background-color: #ffffff;
}
.aione-tabs.vertical.theme-clean.layout-right > .nav > *:after{
  left: -1px;
  right: auto;
}

/*************************************
AIONE TABS Theme bold
***************************************/
.aione-tabs.horizontal.theme-bold > .nav {
  margin-bottom: 20px; 

}
.aione-tabs.horizontal.theme-bold > .nav > *{

  border-bottom: none;
  margin-right: 0px;
}
.aione-tabs.horizontal.theme-bold > .nav > *:hover{
  background: #f2f2f2;
 }

.aione-tabs.horizontal.theme-bold > .nav > .active{

  border-bottom: none;
  background: #168dc5;
  color: white;
}
.aione-tabs.horizontal.theme-bold > .nav > .active:hover{
  background: #1570a6
}

.aione-tabs.vertical.theme-bold > .nav{
 
}
.aione-tabs.vertical.theme-bold > .nav > *{
  border-bottom: 1px solid #e8e8e8;
}
.aione-tabs.vertical.theme-bold > .nav > .active{
  border-bottom: 1px solid #168dc5;
  background: #168dc5;
  color: white;
}
.aione-tabs.vertical.theme-bold > .nav > .active:hover{
  background: #1570a6;
  border-bottom: 1px solid #1570a6;
}
.aione-tabs.vertical.theme-bold > .nav > *:hover{
  background: #f2f2f2;
}


/*************************************
AIONE TABS Theme Pointer
***************************************/
.aione-tabs.horizontal.theme-pointer > .nav{
  margin-bottom: 20px;
}
.aione-tabs.horizontal.theme-pointer > .nav > *:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    border-top: 16px solid #168dc5;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    -webkit-transition:all 250ms ease-in-out;
     -moz-transition:all 250ms ease-in-out;
          transition:all 250ms ease-in-out;
}
.aione-tabs.horizontal.theme-pointer > .nav > .active {
    color: white;
    background: #168dc5;

    
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:hover {
    background: #1570a6;
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:after {
    display:block;
    bottom: -16px;
    border-top-color: #168dc5;
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:hover:after{
    border-top-color: #1570a6;
}


.aione-tabs.vertical.theme-pointer > .nav{
  margin-bottom: 20px;
}
.aione-tabs.vertical.theme-pointer > .nav > *:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 100%;
    border-top: 12px solid transparent;
    border-left: 16px solid #168dc5;
    border-right: 12px solid transparent;
    -webkit-transition:all 250ms ease-in-out;
     -moz-transition:all 250ms ease-in-out;
          transition:all 250ms ease-in-out;
}
.aione-tabs.vertical.theme-pointer > .nav > .active {
    color: white;
    background: #168dc5;
}
.aione-tabs.vertical.theme-pointer > .nav > .active:hover {
    background: #1570a6;
}
.aione-tabs.vertical.theme-pointer > .nav > .active:after {
    display:block;
    bottom: -16px;
   /* border-top-color: #168dc5;*/
}
.aione-tabs.vertical.theme-pointer > .nav > .active:hover:after{
    /*border-top-color: #1570a6;*/
}
/*************************************
AIONE TABS Theme Arrow
***************************************/
.aione-tabs.horizontal.theme-pointer > .nav > *:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    border-top: 16px solid #168dc5;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
   
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:after {
    display:block;
    bottom: -16px;
    border-top-color: #168dc5;
   
}
.aione-tabs.vertical.theme-pointer > .nav > *:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    top: calc( 50% - 12px );
    border-top: 12px solid transparent;
    border-left: 16px solid #168dc5;
    border-bottom: 12px solid transparent;
   
}
.aione-tabs.vertical.theme-pointer > .nav > *li:hover:after {
    right: 10px;
    border-color: #666666;
}
.aione-tabs.vertical.theme-pointer > .nav > *li.active:after {
    border-color: #ffffff;
    right: 10px;
}

/*************************************
AIONE TABS THEME PASTEL
***************************************/
.aione-tabs.theme-pastel > .nav{
  margin-bottom: 20px; 
}
.aione-tabs.theme-pastel > .nav > * {
    color: #ffffff;
}
.aione-tabs.theme-pastel > .nav > *:hover {

}
.aione-tabs.theme-pastel > .nav > .active {
   
}

.aione-tabs.theme-pastel > .nav > *:nth-child(1){background-color: #1e729a;}
.aione-tabs.theme-pastel > .nav > *:nth-child(2){background-color: #54a7a7;}
.aione-tabs.theme-pastel > .nav > *:nth-child(3){background-color: #dec383;}
.aione-tabs.theme-pastel > .nav > *:nth-child(4){background-color: #ed8d75;}
.aione-tabs.theme-pastel > .nav > *:nth-child(5){background-color: #ff8282;}
.aione-tabs.theme-pastel > .nav > *:nth-child(6){background-color: #8296a0;}
.aione-tabs.theme-pastel > .nav > *:nth-child(7){background-color: #1e729a;}
.aione-tabs.theme-pastel > .nav > *:nth-child(8){background-color: #54a7a7;}
.aione-tabs.theme-pastel > .nav > *:nth-child(9){background-color: #dec383;}
.aione-tabs.theme-pastel > .nav > *:nth-child(10){background-color: #ed8d75;}
.aione-tabs.theme-pastel > .nav > *:nth-child(11){background-color: #ff8282;}
.aione-tabs.theme-pastel > .nav > *:nth-child(12){background-color: #8296a0;}

.aione-tabs.theme-pastel > .nav > .active:nth-child(1):after{ border-top-color:#1e729a; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(2):after{ border-top-color:#54a7a7; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(3):after{ border-top-color:#dec383; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(4):after{ border-top-color:#ed8d75; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(5):after{ border-top-color:#ff8282; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(6):after{ border-top-color:#8296a0; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(7):after{ border-top-color:#1e729a; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(8):after{ border-top-color:#54a7a7; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(9):after{ border-top-color:#dec383; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(10):after{ border-top-color:#ed8d75; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(11):after{ border-top-color:#ff8282; }
.aione-tabs.theme-pastel > .nav > .active:nth-child(12):after{ border-top-color:#8296a0; }

