/***************************************
Aione Table
***************************************/
.aione-table table{
  border: 1px solid #e8e8e8;
}
.aione-table thead{
	padding: 0;
  margin: 0;
  border: none;
}
.aione-table table > thead > tr {
  border-bottom: 1px solid #e8e8e8; 
}
.aione-table table > thead > tr > th{
  font-weight: bold;
  border-right: 1px solid #e8e8e8;
}
.aione-table table > thead > tr > th:first-child {
}
.aione-table table > thead > tr > th:last-child {
  border-right: none;
}
.aione-table  table > tbody{
}
.aione-table table > tbody > tr {
  border-bottom: 1px solid #e8e8e8;
}
.aione-table table > tbody > tr:hover {
  background-color: #f2f2f2;
}
.aione-table table > tbody > tr:first-child {
}
.aione-table table > tbody > tr:last-child {
  border-bottom: none;
}
.aione-table table > tbody > tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.aione-table table > tbody > tr:nth-child(even) {
  background-color: #ffffff;
}
.aione-table table > tbody > tr:hover:nth-child(odd) {
  background-color: #f2f2f2;
}
.aione-table table > tbody > tr:hover:nth-child(even) {
  background-color: #f2f2f2;
}
.aione-table tbody tr:last-child td:first-child {
}
.aione-table tbody tr:last-child td:last-child {
}
.aione-table table > tbody > tr > td {
  border-right: 1px solid #e8e8e8;
}
.aione-table table > tbody > tr > td:last-child {
  border-right: none;
}
.aione-table tfoot{
}
.aione-table table > tfoot > tr {
  border-top: 1px solid #e8e8e8;
}
/***************************************
Aione Table ROUNDED
***************************************/
.aione-table .rounded thead th:first-child {
  border-top-left-radius:3px;
}
.aione-table .rounded thead th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
.aione-table .rounded tbody tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
.aione-table .rounded tbody tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

/***************************************
Aione Table Compact
***************************************/
.aione-table table.compact > thead > tr > th,
.aione-table table.compact > tbody > tr > td,
.aione-table table.compact > tfoot > tr > td {
  padding:5px;
}
/***************************************
Aione Table Wide
***************************************/
.aione-table table.wide > thead > tr > th,
.aione-table table.wide > tbody > tr > td,
.aione-table table.wide > tfoot > tr > td {
  padding:20px 10px;
}
/***************************************
Aione Table scroll
***************************************/
.aione-table.scroll{
  overflow: scroll;
}
.aione-table.scrollx{
  overflow-x: scroll;
}
.aione-table.scrolly{
  overflow-y: scroll;
}
