

/*************** DATALIST PAGINATION*******************/
.pagination li{
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0;
	background-color:#ffffff;
    border: 1px solid #e8e8e8;
	-webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.pagination li:hover{
	background-color:#f8f8f8;
}
.pagination li a,
.pagination li span{
	color:#666666;
	display:block;
	padding:0;
	font-size:16px;
	line-height: 40px;
    text-align: center;
	-webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.pagination li.disabled{
	background-color:#f8f8f8;
	border: 1px solid #e8e8e8;
	cursor: no-drop; 
}
.pagination li.disabled span{
	color:#999999;
}
.pagination li.active{
	background-color:#0073aa;
	border: 1px solid #0073aa;
}
.pagination li.active:hover{
	background-color:#006698;
	border: 1px solid #006698;
}
.pagination li.active span{
	color: #FFFFFF;
}
