
@mixin aione-gradient($direction:45deg, $color:#ffffff, $colors...) {

	background-color: $color;
	background: nth(nth($colors, 1), 1);
	background-image: -webkit-linear-gradient($direction, $colors);
	background-image: -o-linear-gradient($direction, $colors);
	background-image: linear-gradient($direction, $colors);
}

.bg-gradient{

}
.bg-gradient.gradient-1{ 
	@include aione-gradient( 45deg, rgba(0,0,0,0.85), rgba(153,93,179,0.6) 0%,rgba(44,155,219,0.6) 100% );  
}
.bg-gradient.gradient-2{ 
	@include aione-gradient( 45deg, rgb(255,174,39), rgba(255,174,39,1) 0%, rgba(222,73,109,1) 100% );  
}
.bg-gradient.gradient-3{ 
	@include aione-gradient( 330deg, #e05252, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100% );
}
.bg-gradient.gradient-4{  
	@include aione-gradient( 120deg, #155799, #155799, #159957 );
}
.bg-gradient.gradient-5{  
	@include aione-gradient( left, #25a1c3, #25a1c3 0,#64bc5b 100% );
}
.bg-gradient.gradient-6{  
	@include aione-gradient( right bottom, #d4fbad, #d4fbad 0%, #58f9e9 100% );
}
.bg-gradient.gradient-7{  
	@include aione-gradient( left, rgba(152, 211, 97, 0.9), rgba(152, 211, 97, 0.9) 10%, rgba(86, 180, 211, 0.9) 90%);
}
.bg-gradient.gradient-8{  
	@include aione-gradient( 60deg, #556270, #556270 10%, #FF6B6B 90% );
}
.bg-gradient.gradient-9{  
	@include aione-gradient( left,#3a88f4, #3a88f4 0%,#7854ae 50%,#cb2f70 100%);
}
.bg-gradient.gradient-10{  
	@include aione-gradient( -45deg,#ff7c00,#ff7c00 0,#2a0a59 100% );
}

.bg-gradient.gradient-11{  
	@include aione-gradient( 35deg,#4E75B9, #4E75B9 29%,#5CBF98 90% );
}

.bg-gradient.gradient-12{  
	@include aione-gradient( 45deg,#BBFFD0, #BBFFD0 29%,#5CBF98 90% );
}

.bg-gradient.gradient-13{  
	@include aione-gradient(to right,rgba(76,175,80,.4), rgba(76,175,80,.4),rgba(123,67,151,.6));
}

.bg-gradient.gradient-check{  
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	background-repeat: repeat;
	background-size: 26px 26px;
	background-position:0 0,13px 13px;
}






