/***************************************
AIONE Model
***************************************/

.modal-header {
    padding: 0;
    margin: 0;
        background-color: #168dc5;
}
.modal-header h5{
    color: #fff;
    padding: 0 10px;
    margin: 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400; 
}
.modal-header .close-model-button{
    position:absolute;
    right:10px;
    top:12px; 
}
.modal.modal-fixed-footer{
    padding-bottom:56px;
}
