/***************************************
AIONE PROGRESS BAR
***************************************/

.aione-progress-bar {
    margin-bottom: 20px;
	position:relative;
}

.aione-progress-bg {
    border: 1px solid #e8e8e8;
	background-color:#FFFFFF;
}
.aione-progress-inside {
    width: 60%;
    height: 6px;
    background-color: #3F51B5;
    background-image: linear-gradient(90deg,#3F51B5,#17afb8,#66BB6A);
    cursor: pointer;
}
.aione-progress-bar-content{
	display:none;
}
.aione-progress-bar.active .aione-progress-bg {
	padding:3px
}
.aione-progress-bar.active .aione-progress-inside {
	height:15px;
}
.aione-progress-bar.active .aione-progress-bar-content {
	display:block;
}