/***************************************
AIONE SOCIAL ICONS
***************************************/
.aione-social-icons {
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom:10px;
}
.aione-social-icons > * {
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 40px;
    line-height: 40px;
    margin-right:5px;
    font-weight: normal;
}
.aione-social-icons > * > a{
    display: block;
}
.aione-social-icons > * > a .icon{
    display: inline-block;
}
.aione-social-icons > * > a .label{
    display:none;
}
.aione-social-icons.labels > * > a .label{
    display: inline-block;
}
.aione-social-icons.vertical > *{
    display: block;
}
.aione-social-icons.small > *{
    font-size: 24px;
    width: 36px;
}
.aione-social-icons.small > * ,
.aione-social-icons.small > * > a,
.aione-social-icons.small > * > a >.icon,
.aione-social-icons.small > * > a > .icon:before,
.aione-social-icons.small > * > a > .label{
    line-height: 36px;
}
.aione-social-icons.medium > *{
    font-size: 28px;
    width: 42px;
}
.aione-social-icons.medium > * ,
.aione-social-icons.medium > * > a,
.aione-social-icons.medium > * > a >.icon,
.aione-social-icons.medium > * > a > .icon:before,
.aione-social-icons.medium > * > a > .label{
    line-height: 42px;
}
.aione-social-icons.large > *{
    font-size: 32px;
    width: 54px;
}
.aione-social-icons.large > * ,
.aione-social-icons.large > * > a,
.aione-social-icons.large > * > a >.icon,
.aione-social-icons.large > * > a > .icon:before,
.aione-social-icons.large > * > a > .label{
    line-height: 54px;
}
.aione-social-icons.xlarge > *{
    font-size: 36px;
    width: 64px;
}
.aione-social-icons.xlarge > * ,
.aione-social-icons.xlarge > * > a,
.aione-social-icons.xlarge > * > a >.icon,
.aione-social-icons.xlarge > * > a > .icon:before,
.aione-social-icons.xlarge > * > a > .label{
    line-height: 64px;
}
.aione-social-icons.small.labels > *,
.aione-social-icons.medium.labels > *,
.aione-social-icons.large.labels > *,
.aione-social-icons.xlarge.labels > *{
    width:auto;
}
.aione-social-icons.square > *{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.aione-social-icons.rounded > *{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.aione-social-icons.circle > *{
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    border-radius: 999px;
}
/***************************************
Theme Light
***************************************/
.aione-social-icons.light > *{
    color: #ffffff;
    background: transparent;
}
.aione-social-icons.light > * > a,
.aione-social-icons.light > * > a:hover{
    color: #ffffff;
}
/***************************************
Theme Light Solid
***************************************/
.aione-social-icons.light-solid > *{
    color: #333333;
    background: #ffffff;
}
.aione-social-icons.light-solid > * > a,
.aione-social-icons.light-solid > * > a:hover{
    color: #333333;
}
/***************************************
Theme Light Outline
***************************************/
.aione-social-icons.light-outline > *{
    color: #ffffff;
    border:2px solid #ffffff;
    background: transparent;
}
.aione-social-icons.light-outline > * > a,
.aione-social-icons.light-outline > * > a:hover{
    color: #ffffff;
}
/***************************************
Theme Dark
***************************************/
.aione-social-icons.dark > *{
    color: #333333;
    background: transparent;
}
.aione-social-icons.dark > * > a,
.aione-social-icons.dark > * > a:hover{
    color: #333333;
}
/***************************************
Theme Dark Solid
***************************************/
.aione-social-icons.dark-solid > *{
    color: #ffffff;
    background: #333333;
}
.aione-social-icons.dark-solid > * > a,
.aione-social-icons.dark-solid > * > a:hover{
    color: #ffffff;
}
/***************************************
Theme Dark Outline
***************************************/
.aione-social-icons.dark-outline > *{
    border:2px solid #333333;
    background-color: transparent;
}
.aione-social-icons.dark-outline > * > a,
.aione-social-icons.dark-outline > * > a:hover{
    color: #333333;
}
/***************************************
Theme Color
***************************************/
.aione-social-icons.colored > *,
.aione-social-icons.colored > * > a,
.aione-social-icons.colored > * > a:hover{
    color: #ffffff;
}

.facebook{      background: rgba(64, 96, 165, 1);}.facebook > a > .icon:before{     font-family: "FontAwesome";content: "\f09a";}
.twitter{       background: rgba(0, 171, 227, 1);}.twitter > a > .icon:before{      font-family: "Ionicons";content: "\f2b0";}
.googleplus{    background: rgba(230, 69, 34, 1);}.googleplus > a > .icon:before{   font-family: "Ionicons";content: "\f23b";}
.linkedin{      background: rgba(0, 148, 188, 1);}.linkedin > a > .icon:before{     font-family: "FontAwesome";content: "\f0e1";}
.pinterest{     background: rgba(203, 32, 39, 1);}.pinterest > a > .icon:before{    font-family: "Ionicons";content: "\f244";}
.tumblr{        background: rgba(58, 88, 118, 1);}.tumblr > a > .icon:before{       font-family: "Ionicons";content: "\f24d";}
.rss{           background: rgba(232, 136, 69, 1);}.rss > a > .icon:before{ font-family: "Ionicons";content: "\f248";}
.whatsapp{      background: #34AF23;}   .whatsapp > a > .icon:before{       font-family: "Ionicons";content: "\f2c5";}
.reddit{        background: #ff4500;}   .reddit > a > .icon:before{         font-family: "Ionicons";content: "\f247";}
.buffer{        background: #323B43;}   .buffer > a > .icon:before{         font-family: "Ionicons";content: "\f22d";}
.youtube{       background: #bb0000;}   .youtube > a > .icon:before{        font-family: "FontAwesome";content: "\f167";}
.flickr{        background: #ff0084;}   .flickr > a > .icon:before{         font-family: "FontAwesome";content: "\f16e";}
.instagram{     background: #bc2a8d;}   .instagram > a > .icon:before{      font-family: "FontAwesome";content: "\f16d";}
.yahoo{         background: #7B0099;}   .yahoo > a > .icon:before{          font-family: "FontAwesome";content: "\f19e";}
.vimeo{         background: #1ab7ea;}   .vimeo > a > .icon:before{          font-family: "FontAwesome";content: "\f27d";}
.stumbleupon{   background: #EB4823;}   .stumbleupon > a > .icon:before{    font-family: "FontAwesome";content: "\f1a4";}
.quora{         background: #a82400;}   .quora > a > .icon:before{          font-family: "FontAwesome";content: "\f2c4";}
.foursquare{    background: #0072b1;}   .foursquare > a > .icon:before{     font-family: "FontAwesome";content: "\f180";}
.forrst{        background: #5B9A68;}   .forrst > a > .icon:before{         font-family: "Ionicons";content: "\f22d";}
.vk{            background: #45668e;}   .vk > a > .icon:before{             font-family: "FontAwesome";content: "\f189";}
.blogger{       background: #fb8f3d;}   .blogger > a > .icon:before{        font-family: "FontAwesome";content: "\f37c";}
.wordpress{     background: #21759b;}   .wordpress > a > .icon:before{      font-family: "FontAwesome";content: "\f19a";}
.soundcloud{    background: #ff3a00;}   .soundcloud > a > .icon:before{     font-family: "FontAwesome";content: "\f1be";}
.dribbble{      background: #ea4c89;}   .dribbble > a > .icon:before{       font-family: "FontAwesome";content: "\f17d";}
.new-instagram{ background: #e95950;}   .new-instagram > a > .icon:before{  font-family: "FontAwesome";content: "\f16d";}
.behance{       background: #1769ff;}   .behance > a > .icon:before{        font-family: "FontAwesome";content: "\f1b4";}
.spotify{       background: #00e461;}   .spotify > a > .icon:before{        font-family: "FontAwesome";content: "\f1bc";}
.vine{          background: #00bf8f;}   .vine > a > .icon:before{           font-family: "FontAwesome";content: "\f1ca";}
.github{        background: #000000;}   .github > a > .icon:before{         font-family: "FontAwesome";content: "\f09b";}
.dropbox{       background: #007ee5;}   .dropbox > a > .icon:before{        font-family: "FontAwesome";content: "\f16b";}
.snapchat{      background: #fffc00;}   .snapchat > a > .icon:before{       font-family: "FontAwesome";content: "\f2ac";}
