
/***************************************
TO BE CHANGED
***************************************/
	
	
	.closeDialog{
		color: #fff;
	}
	
	
	/*************** UNKNOWN DROPDOWN *******************/
	
	#dropdown{
        width: 156px !important;
        top: 58px !important;
        right: 12px !important;
        opacity: 1;
    }
    .dropdown-list{
        margin-top: -0px;
        position: absolute;
        background: #fff;
        display: block;
        width: 130px;
        box-shadow: -1px 5px 13px #e8e8e8;
        margin-left: -100px;
        text-align: left;
    }
   /* .dropdown-list > li > a{
       padding:20px;
    }*/
    .dropdown-list li:hover{
        background-color: #e8e8e8;
    }
    .divider{
        padding: 0px !important;
    }






    .aione-nav .aione-nav-toggle {
  width: 20px;
  position: relative;
  clear:both;
  display: none;
}
.aione-nav .aione-nav-toggle.active {
  display: inline-block;
}
.aione-nav .aione-nav-toggle .nav-toggle {
  display: block;
  position: relative;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 10px 0
}
.aione-nav .aione-nav-toggle .nav-toggle:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 2px;
  bottom: 2px;
  display: block;
  border-top: 2px solid #787878;
  border-bottom: 2px solid #787878;
}
.aione-nav .aione-nav-toggle .nav-toggle:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 0;
  display: block;
  margin: -1px 0 0 0;
  border-top: 2px solid #787878;
}
.aione-nav .aione-nav-toggle:hover .nav-toggle:before,
.aione-nav .aione-nav-toggle:hover .nav-toggle:after {
    border-color: #666666;
}



.field-type-code textarea{
    width: 0;
    height: 0;
    display: inline;
    overflow: hidden;
    opacity: 1;
    line-height: 0;
    min-height: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.field-wrapper .aione-code-editor {
    min-height:100px;
}
.field-wrapper.small .aione-code-editor {
    height:140px;
}
.field-wrapper.medium .aione-code-editor {
    height:280px;
}
.field-wrapper.large .aione-code-editor {
    height:400px;
}
.field-wrapper.full .aione-code-editor {
    height:auto;
}
.aione-code-editor-wrapper.fullscreen{
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.field-wrapper .aione-code-editor-wrapper.fullscreen .aione-code-editor {
    height:100%;
    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.field-wrapper .aione-code-editor-wrapper.fullscreen .aione-code-editor .ace_content{
    height:100% !important;
    min-height: 800px !important;
}

#aione_account_tabs > .aione-tabs > .aione-tab{
    width: auto;
    display: inline-block;
}



.aione-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 0 4px;
    background: rgba(255,255,255,0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #666666;
    opacity:1;
    -moz-transition:all 100ms ease-in-out;
    -webkit-transition:all 100ms ease-in-out;
    transition:all 100ms ease-in-out;
}
.aione-theme .owl-dots .owl-dot:hover span{
    background-color: #666666;
}
.aione-theme .owl-dots .owl-dot.active span{
    background:#168dc5;
    border-color:#168dc5;
}
.aione-theme .owl-nav{

}
.aione-theme .owl-nav .owl-prev,
.aione-theme .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    height: 60px;
    font-size: 40px;
    font-weight: 100;
    line-height: 60px;
    padding: 0 25px;
    color: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.3);
        -moz-transition:all 100ms ease-in-out;
    -webkit-transition:all 100ms ease-in-out;
    transition:all 100ms ease-in-out;
}
.aione-theme:hover .owl-nav .owl-prev,
.aione-theme:hover .owl-nav .owl-next,
.aione-theme .owl-nav .owl-prev:hover,
.aione-theme .owl-nav .owl-next:hover{
    color: rgba(255,255,255,1);
    background: rgba(0,0,0,0.6);
}
.aione-theme .owl-nav .owl-prev{
    left:0;
}
.aione-theme .owl-nav .owl-next{
    right:0;
}

.owl-carousel-item-imgoverlay {
    opacity: 1;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.owl-carousel .item:hover .owl-carousel-item-imgoverlay {
    opacity: 1;
    background-color: transparent;
}
	


/********************************
Owl Theme OXO
*********************************/

.slider.oxo{

}
.slider.oxo .slider-item{
    
}
.slider.oxo .slider-item:after{
    content:"";
    display: table;
    clear: both;
}
.slider.oxo .slider-item .slider-image{
    float:left;
    width: 50%;
    box-sizing: border-box;
}
.slider.oxo .slider-item .slider-image img{
    max-width: 100%;
}
.slider.oxo .slider-item .slider-caption{
    float:left;
    width: 50%;
    box-sizing: border-box;
    padding: 40px 60px;
    background-color: #01b7f2;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;

}
.slider.oxo .slider-item:hover .slider-caption{
    /*
    .background-color: #0090bf;
    */
}

.slider.oxo .slider-item .slider-caption .caption-title{ 
    color: #ffffff;
    margin-top:0;
    font-weight: 400;
    line-height: 1.6;

}
.slider.oxo .slider-item .slider-caption .caption-description{ 
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.slider.oxo .slider-item .slider-caption .aione-button{ 
    color: #ffffff;
    position: absolute;
    top:40px;
    right:60px;
    border:2px solid #FFFFFF;
    background: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


}

.slider.oxo .owl-nav .owl-prev,
.slider.oxo .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    height: 60px;
    width: 50px;
    font-size: 40px;
    font-weight: 100;
    line-height: 60px;
    padding: 0;
    text-align: center;
    color: rgba(255,255,255,.6);
    background: rgba(0,0,0,.6);
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}
.slider.oxo .owl-nav .owl-next:hover,
.slider.oxo .owl-nav .owl-prev:hover{
  color: #ffffff;
  background: #168dc5;
}
.slider.oxo .owl-nav .owl-prev{
    left:0;
}
.slider.oxo .owl-nav .owl-next{
    right:0;
}
.slider.oxo .owl-nav .owl-prev:before,
.slider.oxo .owl-nav .owl-next:before{
    content:"";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 1px;
    display: inline-block;
    border-top:2px solid #ffffff;
}

.slider.oxo .owl-nav .owl-prev:before{
    border-left:2px solid #ffffff;
    transform: rotate(-45deg);
    left: 15px;
}
.slider.oxo .owl-nav .owl-next:before{
    border-right:2px solid #ffffff;
    transform: rotate(45deg);
}