$medium-screen:680px;
$large-screen:480px;

$h1-fontsize: 64px;
$h2-fontsize: 48px;
$h3-fontsize: 32px;
$h4-fontsize: 24px;
$h5-fontsize: 18px;
$h6-fontsize: 16px;

html{
  line-height: 1.4;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  color:#606c71; 
}

a {
  text-decoration: none;
}

html{
  line-height: 1.4;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.4;
	color:#484c55
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.font-weight-100{ font-weight: 100; }
.font-weight-200{ font-weight: 200; }
.font-weight-300{ font-weight: 300; }
.font-weight-400{ font-weight: 400; }
.font-weight-500{ font-weight: 500; }
.font-weight-600{ font-weight: 600; }
.font-weight-700{ font-weight: 700; }
.font-weight-800{ font-weight: 800; }
.font-weight-900{ font-weight: 900; }

$i: 1;
@while $i <= 100 {
  .font-size-#{$i} {
    font-size: $i+px;
  }
  $i: $i + 1;
}
$i: 110;
@while $i <= 200 {
  .font-size-#{$i} {
    font-size: $i+px;
  }
  $i: $i + 10;
}

$i: 1;
@while $i <= 100 {
  .line-height-#{$i} {
    line-height: $i+px;
  }
  $i: $i + 1;
}

