<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aione framework</title>

	<!-- Aione framework website, 3D websites, Grid system -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="identifier-url" content="https://aioneframework.com/" />
	<meta name="title" content="Aione Framework" />
	<meta name="description" content="Aione framework code playground to edit html code and live preview the output" />
	<meta name="abstract" content="Aione framework code playground to edit html code and live preview the output" />
	<meta name="keywords" content="aione framework, editor, code, live, css, framework, css4, layout, playground, help" />
	<meta name="author" content="OXO IT SOLUTIONS PRIVATE LIMITED" />
	<meta name="revisit-after" content="10" />
	<meta name="language" content="EN" />
	<meta name="copyright" content="©2017 OXO IT SOLUTIONS PRIVATE LIMITED" />
	<meta name="robots" content="All" />
	<meta name="theme-color" content="#1570a6"/>
	<meta name="application-name" content="Aione Framework">

 	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="assets/images/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="assets/images/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="assets/images/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="assets/images/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="assets/images/mstile-310x310.png" />


	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/images/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="assets/images/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="https://aioneframework.com/assets/images/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="assets/images/favicon-128.png" sizes="128x128" />

	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" type="text/css" href="aioneframework/assets/css/aione.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400">
	<!-- Theme Styles and Scripts-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

</head>
<body>
	<div id="aione_wrapper" class="aione-wrapper page-home layout-header-top aione-layout-wide aione-theme-arcane">
		<div class="wrapper">
			<div id="aione_header" class="aione-header light load-template">
			</div><!-- #aione-header -->

			<div id="aione_main" class="aione-main fullwidth">
				<div class="wrapper">
					<div id="aione_content" class="aione-content">
						<div class="wrapper">
							<div id="aione_page_content" class="aione-page-content">
								<div class="wrapper">
									<section id="intro" class="intro">
										<div class="intro-content aione-align-center animated fadeInUpBig">
											<h1 class="m-0 font-size-30"><span class="primary-color">Aione</span> <span class="secondary-color">Framework</span> is <span class="font-weight-900">ALL-IN-ONE</span> CSS Framework
											</h1>
										</div>
									</section>
									<section id="features" class="features">
										<div class="ar m-50">
											<h3 class="black">Features</h3>
											<div class="ac s100 m100 l33">
												<div class="aione-border aione-align-center p-20">
													<span class=""><i class="fa fa-mobile light-blue font-size-100"></i></span>
													<h4 class="black">Aione-Framework</h4>
													<p class="black pb-30">Browse Ionic Framework components, api, plugins, theming, and CLI
        												 documentation and guides.</p>
												</div>
											</div>
											<div class="ac s100 m100 l33">
												
											</div>
											<div class="ac s100 m100 l33">
												
											</div>
										</div>
									</section>
									<section id="resource" class="resource">
	                                    <div class="wrapper pt-40 pl-100 pr-70 pb-50 bg-grey bg-lighten-4">
	                                       <div class="ar">
	                                          <h4 class="aione-align-center mb-20 mt-0">Features</h4>
	                                          <div class="ac s100 m100 l30 bg-white p-10 aione-border i-hover">
	                                              <div class="img-hover" style="position: relative;height: 200px; background-size: cover;">
	                                                <div class="theme-title" style="background-color: rgba(0,0,0,0.6);position: absolute;top: 0;bottom: 0;left: 0;right: 0;  overflow: hidden;">
	                                                 <h3 class="white aione-align-center mt-80">oxosolutions</h3>
	                                               </div> 
	                                              </div>
	                                           </div> 
	                                           <div class="ac s100 m100 l70">
	                                             <div class="ar">
	                                               <div class="ac s100 m100 l33">
	                                                 <div class="ar">
	                                                   <div class="aione-border aione-align-center p-22 bg-white mt-10">
	                                                     <h5>Loading File</h5>
	                                                     <span class="font-size-22 light-blue"><i class="fa fa-pie-chart"></i></span>
	                                                     <span class="font-size-16">210 ms</span>
	                                                   </div>
	                                                 </div>
	                                                  <div class="ar mt-20 bg-white">
	                                                   <div class="aione-border aione-align-center p-22">
	                                                     <h5>Page size</h5>
	                                                     <span class="font-size-22"><i class=" "></i></span>
	                                                     <span class="font-size-16">100%</span>
	                                                   </div>
	                                                 </div>
	                                               </div>
	                                               <div class="ac s100 m100 l33">
	                                                 <div class="ar bg-white">
	                                                   <div class="aione-border aione-align-center p-24">
	                                                     <h5>Requests</h5>
	                                                    <span class="font-size-16">23</span>
	                                                   </div>
	                                                 </div>
	                                                  <div class="ar mt-20 bg-white">
	                                                   <div class="aione-border aione-align-center p-24">
	                                                     <h5>Tested from</h5>
	                                                     <i class="fa fa-building red font-size-22"></i>
	                                                     <span class="font-size-16">New york city</span>
	                                                   </div>
	                                                 </div>
	                                               </div>
	                                               <div class="ac s100 m100 l33">
	                                                 <div class="ar bg-white ">
	                                                  <div class="aione-border aione-align-center p-24">
	                                                     <h5>Loading File</h5>
	                                                     
	                                                     <span class="font-size-16">33%</span>
	                                                   </div>
	                                                 </div>
	                                                  <div class="ar mt-20 bg-white">
	                                                   <div class="aione-border aione-align-center p-24">
	                                                     <h5>Loading File</h5>
	                                                     
	                                                     <span class="font-size-16">881.2</span>
	                                                   </div>
	                                                 </div>
	                                               </div>
	                                             </div> 
	                                          </div>
	                                        </div>
                                        </div>
                                    </section>
									<section id="themes" class="themes">
										
									</section>
									<section id="collaborators" class="collaborators">
										
									</section>
									<section id="built_with" class="built-with">
										
									</section>
								</div>
							</div>
						</div><!-- .wrapper -->
					</div><!-- .aione-content -->
					<div id="aione_footer" class="aione-footer dark load-template">
					</div><!-- .aione-footer -->
					<div id="aione_copyright" class="aione-copyright dark load-template">
					</div><!-- .aione-copyright -->
				</div><!-- .wrapper -->
			</div>			
		</div>
	</div>
<!-- Core-->
<script type="text/javascript" src="aioneframework/assets/js/vendor.min.js"></script>
<script type="text/javascript" src="aioneframework/assets/js/aione.min.js"></script>
<!-- Google Analytics-->
<!-- <script type="text/javascript" src="assets/js/ga.min.js"></script> -->

<script type="text/javascript">
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/serviceworker.js', { scope: '/' }).then(function(reg) {
    
    if(reg.installing) {
      //console.log('Service worker installing');
    } else if(reg.waiting) {
      //console.log('Service worker installed');
    } else if(reg.active) {
      //console.log('Service worker active');
    }
    
  }).catch(function(error) {
    //console.log('Registration failed with ' + error);
  });
}
</script>

</body>
</html>