/***************************************
FOOTER
***************************************/
.aione-footer{
	color: #757575;
	margin:20px 0 20px 0;
	padding: 10px 0px;
	border-top : 1px solid #e8e8e8;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align:center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.aione-footer .aione-row{
	padding:0;
}
.aione-footer a, 
.aione-footer a:visited{
	color: #757575;
	text-decoration: none;
	webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
.aione-footer a:hover,
.aione-footer a:active{
	color: #666666;
	text-decoration: none;
}
