/***************************************
FOOTER
***************************************/
.aione-footer{
	color: #757575;
	margin:20px 0 20px 0;
	padding: 10px 0px;
	border-top : 1px solid #e8e8e8;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align:center;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.aione-footer.light {
    color: #757575;
    background-color:#ffffff; 
}
.aione-footer.dark {
    color: #ffffff;
    background-color:#454545; 
}
.aione-footer.sticky{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 101;
}
.aione-footer .aione-row{
	padding:0;
}
.aione-footer a, 
.aione-footer a:visited{
	text-decoration: none;
	webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
.aione-footer.light a,
.aione-footer.light a:visited{
	color: #666666;
}
.aione-footer.light a:hover,
.aione-footer.light a:active{
	color: #454545;
}
.aione-footer.dark a,
.aione-footer.dark a:visited{
	color: #f2f2f2;
}
.aione-footer.dark a:hover,
.aione-footer.dark a:active{
	color: #e8e8e8;
}

.aione-copyright {
    color: #757575;
    margin: 0;
    padding: 4px 0;
    border-top: 1px solid #e8e8e8;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.aione-copyright a{
	text-decoration: none;
	webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
.aione-copyright.light {
    color: #757575;
    background-color:#ffffff; 
}
.aione-copyright.light a,
.aione-copyright.light a:visited{
	color: #666666;
}
.aione-copyright.light a:hover,
.aione-copyright.light a:active{
	color: #454545;
}
.aione-copyright.dark {
    color: #ffffff;
    background-color:#333333; 
}
.aione-copyright.dark a,
.aione-copyright.dark a:visited{
	color: #f8f8f8;
}
.aione-copyright.dark a:hover,
.aione-copyright.dark a:active{
	color: #e8e8e8;
}
.aione-copyright.sticky{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 102;
}
