/***************************************
HEADER
***************************************/

.aione-header{
	background-color: #2d323e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
}
.aione-header-left{
	float:left;
	text-align:left;
}
.aione-header-right{
	float:right;
	text-align:left;	
}


.aione-header .aione-header-item{
	float:left;
	margin-left:10px;
}

.aione-header .aione-nav-toggle{
	width:20px;
	position:relative;
}
.aione-header .aione-header-item .nav-toggle{
	display: block;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px 0;
}
.aione-header .aione-header-item .nav-toggle:before{
	content: "";
    position: absolute;
	width:100%;
    top: 2px;
    bottom: 2px;
    display: block;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.aione-header .aione-header-item .nav-toggle:after{
	content: "";
    position: absolute;
	width:100%;
    top: 50%;
    bottom: 0;
    display: block;
	margin:-1px 0 0 0;
    border-top: 2px solid #FFFFFF;
}
.aione-header .aione-logo{
	padding-top:5px;
}
.aione-header .aione-logo img{
	max-height:30px;
}

.aione-header .aione-site-title{
	
}
.aione-header .aione-site-title h1{
	color: #FFFFFF;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
	margin:0;
	padding:0;
}
.aione-header .aione-site-tagline{
	
}
.aione-header .aione-site-tagline h2{
	color: #FFFFFF;
    font-size: 15px;
    line-height: 40px;
    font-weight: 100;
	margin:0;
	padding:0; 
}


.aione-header .aione-header-right .aione-header-item{
	float:right;
	margin-right:10px;
	margin-left:0;
	position:relative;
	color:#FFFFFF;
	line-height:40px;
}
.aione-header .aione-header-right .aione-header-item > a{
	display:block;
	width:30px;
	text-align:center;
	color:#FFFFFF;
	color:rgba(255,255,255,0.8);
}
.aione-header .aione-header-right .aione-header-item > a:hover,
.aione-header .aione-header-right .aione-header-item.active > a{
	display:block;
	color:rgba(255,255,255,1);
}

.aione-header .aione-header-right .aione-header-item .aione-header-widget{
	display:none;
	width:300px;
	position:absolute;
	right:0; 
	top:40px;
	color:#666666;
	background-color:#FFFFFF;
	border:1px solid #e8e8e8;
	
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget a{
	color:#666666; 
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-row{
	min-height:200px;
}
.aione-header .aione-header-right .aione-header-item.active .aione-header-widget{
	display:block;
}
.aione-header .aione-header-right .aione-profile > a{
	padding:5px 0;
	width:30px;
}
.aione-header .aione-header-right .aione-profile .user-avatar{
	max-height:30px;
	max-width:30px;
	display:block;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
 
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-header{
	border-bottom:1px solid #e8e8e8;
	background-color: #f8f8f8;
}

.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-header h3{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

	padding: 10px;
    margin: 0;
    font-size: 16px;
    line-height: 1.33;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-content{
	margin-bottom:40px;
	padding: 10px;
    font-size: 16px;
    line-height: 1.33;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer{
	position: absolute;
    bottom: 0;
    height: 40px;
	padding:5px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    background-color: #f8f8f8;
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer:after{
	content:"";
	display:block;
	clear:both;
	width:100%;
	height:0;
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer .aione-widget-footer-left{
	width:48%;
	float:left;
	text-align:right;
}

.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer .aione-widget-footer-right{
	width:48%;
	float:right;
	text-align:right;
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer .aione-widget-footer-right .aione-logout-button{
	display:block;
	padding: 0px;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #F44336;
    color: #F44336;
    background-color: #ffffff;
	
}
.aione-header .aione-header-right .aione-header-item .aione-header-widget .aione-widget-footer .aione-widget-footer-right .aione-logout-button:hover{
    color: #ffffff;
    background-color: #F44336;
	
}
.aione-header .aione-header-right .aione-clock{
	font-size:14px;
}
.aione-header .aione-header-right .aione-header-item .aione-profile-widget .aione-widget-content{
	padding:0;
}
.aione-header .aione-header-right .aione-header-item .aione-profile-widget .profile-menu li{
	border-bottom: 1px solid #e8e8e8;
}
.aione-header .aione-header-right .aione-header-item .aione-profile-widget .profile-menu li:last-child{
	border-bottom: none;
}
.aione-header .aione-header-right .aione-header-item .aione-profile-widget .profile-menu li a{
	color: #168dc5;
    padding: 8px 10px;
    display: block;
}
.aione-header .aione-header-right .aione-header-item .aione-profile-widget .profile-menu li a:hover{
	color: #FFFFFF;
	background-color: #168dc5;
}
