/***************************************
PAGE
***************************************/

.aione-content{
width: calc(100% - 210px);
float:right;
position:relative;
}
.aione-main.sidebar-small .aione-content{
	width: calc(100% - 50px);
}
.aione-main.fullwidth .aione-content{
	width: 100%;
	float:none;
}
.aione-page-content {
    min-height: 400px;
}

.aione-wrapper.no-sidebar .aione-main .aione-content{
	width: 100%;
	float:none; 
}

/***************************************
page-content
***************************************/
.page-content{
	padding-right: 0px;
	padding-left: 230px !important;
}


